@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.topBar
{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-top: 10px;
    border-bottom: #332C23 solid 5px;
    height: 100px;
    line-height: 20px;
    background-color: #332C23;
    margin-top: -8px;
}

*
{
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Raleway';
}

.logo
{
    margin-left: 400px;
    margin-right: 400px;
    color: #FFFFF3;
    margin-top: 35px;
}

.link
{
    color: #332C23;
    background-color: #FFFFF3;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    height: 20px;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
}

.product
{
    flex: 1 0 15%;
    margin: 150px;
    background-color: #332C23;
    text-align: center;
    max-width: 300px;
    height: 450px;
    border-radius: 2rem;
    color: #FFFFF3;
}

.products
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    background-color: #FFFFF3;
}

.tee
{
    height: 250px;
    margin-top: 20px;
    border-radius: 2rem;
}

.price
{
    background-color: #332C23;
    color: #FFFFF3;
    margin-left: 25px;
    margin-right: 25px;
}

footer
{
    background-color: #332C23;
    line-height: 65px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer
{
    background-color: #332C23;
    color: #FFFFF3;
    margin-left: 30px;
}

.logInPage
{
    text-align: center;
    background-color: #332C23;
    color: #FFFFF3;
    padding: 200px;
    margin-top: -8px;
    padding-bottom: 100%;
}

.logInHeader
{
    font-size: 60px;
    font-weight: bolder;
}

.logInBox
{
    display: flex;
    flex-flow: column;
}

.logInBox > div
{
    padding: 15px;
}

.links > .link
{
    margin-left: 10px;
    margin-right: 10px;
}

.logInBox > div > input 
{
    padding: 10px;
}

.links
{
    margin-top: 35px;
}

.detailsPage
{
    background-color: #332C23;
    color: #FFFFF3;
    margin-top: -21px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100%;
    text-align: center;
}

.detailsPage > h1
{
    font-size: 50px;
}

.detailsPage > h3
{
   margin-bottom: 75px;
}

.cart
{
    background-color: #332C23;
    color: #FFFFF3;
    margin-top: -21px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100%;
    text-align: center;
    padding-top: 50px;
}

.cart > h1
{
    font-size: 50px;
}

.items
{
    padding-bottom: 20px;
}

.item
{
    border: 1px solid #FFFFF3;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 1rem;
}

.error
{
    margin-bottom: 50px;
}

.cart > .link
{
    margin-left: 10px;
    margin-right: 10px;
}

.addToCart
{
    padding: 7px;
    background-color: #FFFFF3;
    color: #332C23;
    border: none;
    border-radius: 1rem;
    margin-left: 10px;
}

.signedIn
{
    color: #FFFFF3;
    margin-top: 35px;
}

.checkOutPage
{
    background-color: #332C23;
    color: #FFFFF3;
    margin-top: -21px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100%;
    text-align: center;
    padding-top: 50px;
}

.checkOutPage > .link
{
    margin-left: 10px;
    margin-right: 10px;
}

.checkOutPage > div > div > input
{
    padding: 5px;
    margin: 5px;
}

.checkOutPage > div > div > .submit
{
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.editButton
{
    border: 5px solid black;
    border-radius: 3rem;
    background-color: #FFFFF3;
    color: #332C23;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.editRow
{
    margin-top: 25px;
    margin-bottom: 10px;
}

.addButton
{
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 1rem;
    border: 3px solid #332C23;
    color: #FFFFF3;
    background-color: #332C23;
    font-size: 30px;
}

.quantity
{
    display: flex;
    flex-flow: row;
    margin-left: 75px;
}

.quantity > button
{
    margin-left: 10px;
    height: 25px;
    width: 25px;
    margin-top: 20px;
    background-color: #332C23;
    color: #FFFFF3;
    border: 2px solid #FFFFF3;
    border-radius: 0.5rem;
}

.quantity > h3
{
    margin-right: 15px;
}